@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@500&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: 100%;
}


.navbar-light .navbar-nav .nav-link {
    font-weight: 500px;
    font-size: 18px;
    color:  #1E0E62;
}

.nav-btn2{
    outline: none;
    border: 2px solid #EBEAED;
    background: none;
    border-radius: 100px;
    color:  #1E0E62;
    font-weight: 500;
    height: 40px;
    width: 100px;
}

.row {
    justify-content: center;
    position: relative;
}

.pg-desc{
    position: relative;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #1E0E62;
}

.action-btn{
    position: absolute;
    margin-top: 140px;
    display: block;
    background: #25DAC5;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    height: 60px;
    width: 170px;
    outline: none;
    border: none;
}

.pg-img{
    position: absolute;
    margin-top: 240px;
    width: 540px;
    height: 341px;
}

.app-features {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(21, 20, 57, 0.4);
    position: relative;
    margin-top: 500px;
}

/* .feature-line{
    left: 35.39%;
    right: 64.46%;
    top: 85.51%;
    bottom: 4.65%;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 0;
    color: rgba(21, 20, 57, 0.4);
} */


@media screen and (max-width: 480px) {
    .pg-desc{
        font-size: 34px;
    }

    .pg-img{
        width: 300px;
        height: 170px;
    }

    .app-features{
        margin-top: 310px;
        font-size: 15px;
    }

    .ignore-br br{
            display: none;
    }

}

@media screen and (min-width: 1300px) {

    .container{
        max-width: 1200px;
    }
}
